.colapse {
  display: inline-block;
  background-color: #aaa;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  line-height: 15px;
}
.folder {
  color: #cb3;
}
.file {
  color: #444;
  padding-left: 20px;
}
.title {
  align-items: center;
  height: 30px;
  cursor: pointer;
  display: flex;
}

.childrens{
  padding-left: 20px;
}
.noItems {
  padding-left: 20px;
  color: #999;
  text-align: left;
}
.fsRoot{
  display: flex;
}
.fsNav{
  padding: 5px 20px;
  width: 400px;
  border-right: 1px solid #ccc;
}

.contentLayer {
  padding: 20px;
}

.nameEdit{
  border: none;
  font-size: 16px;
  border-bottom: 1px dashed #8bc;

  margin-bottom: 20px;
}
